
#Created by Constraints Editor (xc95144xl-tq100-10) - 2021/10/04
NET "CLK_FSB" TNM_NET = CLK_FSB;
TIMESPEC TS_CLK_FSB = PERIOD "CLK_FSB" 40 ns HIGH 50%;
NET "CLK2X_IOB" TNM_NET = CLK2X_IOB;
TIMESPEC TS_CLK2X_IOB = PERIOD "CLK2X_IOB" 15.6672 MHz HIGH 50%;
NET "CLK_IOB" TNM_NET = CLK_IOB;
TIMESPEC TS_CLK_IOB = PERIOD "CLK_IOB" 7.8336 MHz HIGH 50%;
